
/* Style for the Choose File and Upload buttons */
.upload-btn {
    display: block;
    width: 100%;
    height: 284px;
    max-width: 800px;
    background-color: rgba(212, 212, 212, 0.517); /* Button color */
    color: white;
    font-size: 20px; /* Bigger text */
    font-weight: bold;
    text-align: center;
    padding: 80px 20px; /* Bigger button size */
    border-radius: 8px; /* Rounded corners */
    border: 2px dashed #ccc;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease-in-out; /* Smooth transition on hover */
}
  .upload-btn:hover {
      background-color: rgb(251, 251, 251);
      /* Darker shade for hover */
  }

  .upload-icon {
    width: 24px;
    height: 24px;
  }

  .confirm-upload-btn {
    display: block;
    width: 50%;
    height: 50px;
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(182, 67, 25, 0.677); /* Button color */
    color: white;
    font-size: 15px; 
    font-weight: bold;
    text-align: center;
    padding: 16px 40px;
    border-radius: 999px; 
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease; 
}

  /* For file input */
  input[type="file"] {
      display: none;
      /* Hide the file input */
  }

  /* Spacer between the buttons */
  .spacer {
      height: 20px;
      /* Adds vertical space between buttons */
  }