.App {
  text-align: center;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(82, 24, 3);
  nav:first-child {
    margin-top: 2rem;
  }
  nav {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    
  }
  a {
    color: rgb(82, 24, 3);
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  a:hover {
    color: rgb(152, 49, 12);
  }
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #fffae3; 
  margin: 0;
  padding: 0;
}


